{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/bootstrap-4.1.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/common.css' %}">
</head>
<body class="lgbody">
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="{% static '/images/bg_login.png' %}" />
            <p id="profile-name" class="profile-name-card"><span class="text-danger" id="message"></span></p>
            <form class="form-signin">
                {% csrf_token %}
                <span id="reauth-username" class="reauth-username"></span>
                <input type="text" name="username" id="inputusername" class="form-control" placeholder="用户名" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> 记住我
                    </label>
                </div>
                <button id="login" class="btn btn-lg btn-primary btn-block btn-signin" type="button">登陆</button>
            </form><!-- /form -->
            <a href="/admin/" class="forgot-password">
                管理员入口
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->


    <!-- script文件引用 -->
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/bootstrap-4.1.0/js/bootstrap.min.js' %}"></script>
    <!-- 自定义javascript -->
    <script>
        $(document).ready(function(){
            // Enter键触发登录
            // $('#inputPassword').keydown(function(){
            //     if(event.keyCode == 13){
            //         $('#login').trigger('click');
            //     }
            // });
            // 请求登录
            $('#login').click(function(){
                var username = $("#inputusername").val()
                var password = $('#inputPassword').val()
                $.ajax({
                    type: "POST",
                    url: "{% url 'users:lg_check' %}",
                    dataType: 'json',
                    data: {"username": username, "password": password},
                    success: function(data){
                        if(data["result"] == 'ok'){
                            location.href = "{% url 'users:index_redirect' %}"
                        }else{
                            $("#message").html(data['result']);
                        }
                    }
                })
            });
        });
    </script>
</body>
</html>