{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/bootstrap-4.1.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/common.css' %}">
    <title>密码修改</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="card col-xs-offset-4 standard-main">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text mr-2" id="oldP">旧密码</span>
                    </div>
                    <input type="password" name="oldPassword" id="oldPassword" aria-describedby="oldP" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text mr-2" id="newP">新密码</span>
                    </div>
                    <input type="password" name="newPassword" id="newPassword" aria-describedby="newP" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text mr-2" id="newPs">重复密码</span>
                    </div>
                    <input type="password" name="repeatPassword" id="repeatPassword" aria-describedby="newPs" required>
                </div>
                <div class="input-group">
                    <button class="btn btn-secondary" id="setPassword" type="button">提交</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/bootstrap-4.1.0/js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#setPassword').click(function(){
                var oldP = $('#oldPassword').val()
                var newP = $('#newPassword').val()
                var newPs = $('#repeatPassword').val()
                if(newP != newPs){
                    alert("新密码不一致，请重新输入!");
                }
                alert(oldP + "," + newP + "," + newPs)
                $.ajax({
                    type: 'POST',
                    url: "{% url 'users:modify_password' %}",
                    data: {'oldPassword': oldP, 'newPassword': newPs},
                    success: function(data){
                        alert(data['msg']);
                    }
                })
            });
        });
    </script>
</body>
</html>