{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="{% static '/bootstrap-4.1.0/css/bootstrap.min.css' %}">
    <title>首页</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-2">
            <button class="btn btn-primary" id="btree">构建决策树</button>
        </div>
        <div class="row mt-1">
            <img id="tree" src="{% static '/images/decisionTree.jpg' %}" alt="未生成决策树图">
        </div>
    </div>

    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/bootstrap-4.1.0/js/bootstrap.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#btree").click(function(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'refresh' %}",
                    success: function(){
                        $("#tree").attr('src', "{% static '/images/decisionTree.jpg' %}");
                    }
                })
            })
        });
    </script>

</body>
</html>
